
.contacts__content-wrapper {
  .mobile-content-centering-wrapper();
  padding-top: 71px;
}

.contacts__header {
  .set-font-17-medium-30-black();
  margin: 0;
  padding-left: 29px;
  padding-right: 29px;
}

.contacts__content-wrapper ul.contacts__list {
  .set-font-regular-30-gray();
  padding: 26px 29px 8px;
}

.contacts__item {
  padding-bottom: 29px;
}

.contacts__item-name{
  display: inline-block;
  vertical-align: top;
  padding-right: 27px;
}

.contacts__item-value {
  display: inline-block;
  width: 141px;
  margin: 0;
}

.contacts__item:first-child a {
  text-decoration: underline;
  text-decoration-color: @turquoise;
}

.contacts__mail {
  margin: 33px 29px 39px;
}