.contacts__wrapper {
  margin-bottom: 40px;
  padding: 0;
  position: relative;
}

.contacts__wrapper::before {
  content: "";
  display: inline-block;
  vertical-align: middle;
  position: absolute;
  background-image: url("../img/bg-zigzag-line.svg");
  background-repeat: repeat-x;
  background-size: contain;
  width: 100%;
  height: 6px;
  left: 0;
  top: 0;
}

.contacts__header {
  .set-font(17px, 30px, bold, @black);
  margin: 0;
  padding-left: 29px;
  padding-top: 43px;
  padding-bottom: 25px;
}

ul.contacts__list {
  padding-left: 29px;
}

.contacts__item {
  .set-font(15px, 30px, normal, @dark-gray);
  padding-bottom: 30px;
}

.contacts__item-name {
  display: inline-block;
  vertical-align: top;
  padding-right: 27px;
}

.contacts__item-value {
  display: inline-block;
  width: 141px;
  margin: 0;
}

a.contacts__item-value {
  cursor: pointer;
}

a.contacts__item-value .contacts__item-value-text {
  border-bottom: 1px solid @turquoise;
}

a.contacts__item-value:hover .contacts__item-value-text {
  color: @turquoise;
}

a.contacts__item-value:focus .contacts__item-value-text,
a.contacts__item-value:active .contacts__item-value-text {
  color: @turquoise03;
  border-bottom: 1px solid @turquoise03;
}

.contacts__mail.ghost-button {
  margin-top: 32px;
}

.contacts__map-wrapper {
  margin-top: 8px;
  position: relative;
}

.contacts__map-wrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  background-color: #bebebe;
  border: 0;
  width: 100%;
  height: 100%;
}

@media (min-width: 750px) {
  .contacts__wrapper::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    transform: rotateX(180deg);
    width: 100%;
    height: 16px;
    left: 0;
    top: 30px;
  }

  .contacts__header {
    position: relative;
    .set-font(43px, 50px, bold, @black);
    padding-top: 112px;
    padding-bottom: 49px;
    padding-left: 51px;
  }

  .contacts__header::before {
    content: "";
    width: 47px;
    height: 81px;
    position: absolute;
    background-image: url("../img/icon-flag.svg");
    top: 46%;
    right: 7%;
  }

  ul.contacts__list {
    display: flex;
    justify-content: center;
    padding-left: 51px;
  }

  .contacts__item {
    .set-font(17px, 30px, normal, @dark-gray);
    width: 330px;
  }

  .contacts__item-value {
    width: 250px;
  }

  .contacts__map-wrapper {
    margin-top: 22px;
  }

  .contacts__mail.ghost-button {
    margin: 49px auto 58px;
    width: 230px;
  }
}

@media (min-width: 1050px) {
  .contacts__wrapper {
    margin-top: 170px;
    margin-bottom: 106px;
    flex-direction: column;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .contacts__wrapper::before {
    content: "";
    display: inline-block;
    vertical-align: middle;
    position: absolute;
    background-image: url("../img/bg-zigzag-line.svg");
    background-repeat: repeat-x;
    transform: rotateX(180deg);
    background-size: contain;
    width: 100%;
    height: 23px;
    left: 0;
    top: -93px;
  }

  .contacts__header {
    padding-top: 72px;
    padding-left: 174px;
    .set-font(53px, 57px, bold, @black);
    width: 50%;
    order: 1;
  }

  .contacts__header::before {
    content: "";
    width: 47px;
    height: 81px;
    position: absolute;
    background-image: url("../img/icon-flag.svg");
    top: 58px;
    left: 64px;
  }

  ul.contacts__list {
    width: 50%;
    padding-left: 174px;
    flex-direction: column;
    order: 2;
  }

  .contacts__item-value {
    width: 222px;
  }

  .contacts__mail.ghost-button {
    margin-left: 174px;
    order: 3;
  }

  .contacts__map-wrapper {
    width: 50%;
    margin-left: 50%;
    margin-top: -50%;
    order: 4;
  }
}

