
.content-wrapper {
  width: auto;
  margin: 0 auto;
  padding-left: 29px;
  padding-right: 29px;
}

section>.content-wrapper,
header>.content-wrapper,
footer>.content-wrapper {
  width: auto;
}

@media(min-width:750px) {
  .content-wrapper {
    padding-left: 51px;
    padding-right: 51px;
  }
}

@media (min-width:1050px) {
  section>.content-wrapper,
  header>.content-wrapper,
  footer>.content-wrapper {
    max-width: 1250px;
  }
}