.feedback__content-wrapper {
  .mobile-content-centering-wrapper();
  padding: 16px 29px;
}

.feedback__header {
  .set-font-subheader-bold-black();
  margin: 0;
  padding-bottom: 24px;
}

.feedback__item {
  margin: 0;
}

.feedback__text {
  .set-font-regular-30-gray();
  margin: 0;
  padding-bottom: 24px;
}

.feedback__author {
  font-style: normal;
  line-height: 30px;
}

.feedback__author b {
  .set-font-medium-black();
}

.feedback__author span {
  .set-font-17-regular-30-gray();
}