.ghost-button {
  .set-font-medium-20-up-gray();
  display: block;
  border: 2px solid #444444;
  text-align: center;
  padding-top: 15px;
  padding-bottom: 13px;
  margin: 0 auto;
}

.ghost-button--big {
  width: 260px;
}

.ghost-button--small {
  width: 192px;
}