.main-content {
  .set-font-regular-black();
  background-color: #ffffff;
}

.main-content ul {
  list-style: none;
  padding-left: 0;
  margin: 0;
}

.main-content__header-wrapper {
  .mobile-content-centering-wrapper();
  padding: 70px 36px 75px;
  background-color: @gray;
}

.main-content__header-wrapper .main-content__header {
  .set-font-header-bold-black();
}


.main-content__header {
  margin: 0;
}