.production__content-wrapper {
  .mobile-content-centering-wrapper();
  width: 262px;
  border: 1px solid @gray;
  padding-bottom: 33px;
  margin-bottom: 58px;
}

.production__header {
  .set-font-medium-black();
  margin: 0;
  padding-left: 89px;
  padding-top: 25px;
  padding-bottom: 23px;
}

.production__video-wrapper {
  margin: 0;
}

.production__text {
  .set-font-mini-24-black();
  margin: 0;
  padding-left: 34px;
  padding-right: 34px;
  padding-top: 21px;
  padding-bottom: 25px;
}
