.product {
  border: 1px solid @gray;
}

.product__header {
  .set-font(17px, 24px, bold, @black);
  margin: 0;
  padding-top: 20px;
  padding-bottom: 5px;
}

.product__info-wrapper {
  width: 100%;

  &:hover {
    box-shadow: 6px 6px 10px 0 @black01;
  }

  &:active {
    box-shadow: 3px 3px 5px 0 @black01;
  }
}

.product__info {
  padding-left: 29px;
  padding-right: 29px;
}

.product__link--image {
  display: block;
  width: 260px;
}

.product__link--text:hover .product__header {
  color: @black06;
}

.product__link--text:active .product__header,
.product__link--text:focus .product__header {
  color: @black03;
}

.product__descr {
  .set-font(13px, 30px, normal, @black);
  margin: 0;
  padding-bottom: 25px;
}

.product__data {
  .set-font(13px, 30px, normal, @black);
  margin: 0;
  padding-bottom: 19px;
}

.product__purchase {
  display: flex;
  justify-content: space-between;
  padding-top: 23px;
  border-top: 1px solid #f1f1f1;
}

.product__price {
  .set-font(15px, 24px, bold, @black);
  display: inline-block;
}

.product__add-to-cart {
  width: 21px;
  height: 18px;
  padding: 0;
  border: 0;
  font-size: 0;
}

.product__add-to-cart:hover path {
  fill: @turquoise;
}

.product__add-to-cart:active path,
.product__add-to-cart:focus path {
  fill: @turquoise03;
}

@media (min-width: 750px) {
  .product__link--image {
    width: 334px;
    flex-shrink: 0;
  }

  .product__header {
    .set-font(20px, 24px, bold, @black);
    padding-top: 26px;
    flex-basis: 50px;
  }

  .product__descr {
    display: flex;
    flex-direction: column;
    flex-basis: 278px;
  }

  .product__data {
    .set-font(15px, 30px, normal, @dark-gray);
  }

  .product__price {
    .set-font(17px, 24px, bold, @black);
  }

  .product__purchase {
    margin-top: auto;
  }

  .product__info-wrapper {
    margin: 0 auto;
  }

  .product__info {
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    width: 280px;
    height: 336px;
    padding-left: 0;
    padding-right: 0;
  }
}

@media (min-width: 1050px) {
  .product__link--image {
    width: 316px;
    flex-basis: 462px;
    flex-shrink: 0;
  }

  .product__data {
    padding-bottom: 0;
  }

  .product__purchase {
    margin-top: 0;
  }

  .product__descr {
    justify-content: space-between;
  }

  .product__info-wrapper {
    flex-basis: 197px;
  }

  .product__info {
    height: 197px;
    width: 256px;
  }
}
