.promo-product__content-wrapper {
  .mobile-content-centering-wrapper();
  .set-font-regular-gray();
  padding: 29px;
}

.promo-product__header {
  .set-font-subheader-bold-black();
  margin: 0;
  padding-bottom: 2px;
}

.promo-product__label {
  .set-font-medium-20-up-turquoise();
}

.promo-product__descr {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 16px;
}

.promo-product__features-list {
  padding-bottom: 27px;
}

.promo-product__feature-item {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid @light-gray;
}

.promo-product__price {
  .set-font-medium-gray();
  padding: 25px 66px;
}

.promo-product__image {
  display: block;
  margin: 0 auto;
}