
.promo-product__wrapper {
  margin-top: 28px;
  margin-bottom: 34px;
}

.promo-product__header {
  .set-font(25px, 30px, bold, @black);
  margin: 0;
  padding-bottom: 2px;
}

.promo-product__label {
  .set-font(17px, 20px, bold, @turquoise, uppercase);
  text-align: left;
}

.promo-product__features-text {
  margin: 0;
  padding-top: 21px;
  padding-bottom: 21px;
}

.promo-product__features-list {
  padding-bottom: 27px;
}

.promo-product__feature-item {
  padding-bottom: 8px;
  padding-top: 8px;
  border-bottom: 1px solid @light-gray;
}

.promo-product__price {
  .set-font(17px, 24px, bold, @dark-gray);
  padding: 16px 57px 25px;
  text-align: center;
}

.promo-product__image img {
  display: block;
  margin: 0 auto;
}

@media (min-width: 750px) {
  .promo-product__wrapper {
    margin-top: 50px;
    margin-bottom: 48px;
  }

  .promo-product__header-wrapper {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }

  .promo-product__header {
    .set-font(43px, 50px, bold, @black);
    flex-basis: 520px;
    padding-top: 0;
    padding-bottom: 0;
  }

  .promo-product__label {
    flex-basis: 120px;
    text-align: center;
    padding-top: 11px;
    padding-bottom: 0;
    line-height: 18px;
  }

  .promo-product__body-wrapper {
    display: flex;
    flex-wrap: wrap;
    align-items: flex-start;
    justify-content: space-between;
    flex-direction: column;
  }

  .promo-product__description {
    width: 50%;
    padding-right: 43px;
    margin-bottom: auto;
  }

  .promo-product__features-text {
    .set-font(17px, 30px, normal, @dark-gray);
    padding-top: 48px;
  }

  .promo-product__features-list {
    padding-bottom: 54px;
    padding-top: 17px;
  }

  .promo-product__image {
    width: 50%;
    padding-top: 55px;
    order: 1;
    margin-top: -459px;
    margin-left: 50%;
  }

  .promo-product__order {
    width: 50%;
    padding-right: 43px;
  }

  .promo-product__price {
    .set-font(20px, 24px, bold, @dark-gray);
    padding: 0 66px 34px;
  }

  .promo-product__order-button.ghost-button--big {
    width: auto;
    margin: 0;
    cursor: pointer;
  }
}

@media (min-width: 1050px) {
  .promo-product__wrapper {
    position: relative;
    margin-top: 60px;
    margin-bottom: 39px;
  }

  .promo-product__header-wrapper {
    position: absolute;
    left: 30px;
    top: 4px;
    z-index: 100;
    justify-content: center;
  }

  .promo-product__body-wrapper {
    align-content: space-between;
  }

  .promo-product__header {
    .set-font(53px, 47px, bold, @black);
    padding-top: 62px;
    flex-basis: 550px;
    order: 2;
  }

  .promo-product__label {
    padding-right: 51px;
    padding-top: 70px;
  }

  .promo-product__description {
    padding-left: 176px;
    padding-right: 58px;
  }

  .promo-product__features-text {
    order: 1;
    padding-top: 167px;
    padding-bottom: 16px;
  }

  .promo-product__features-list {
    padding-top: 31px;
    padding-bottom: 49px;
    order: 2;
  }

  .promo-product__order {
    padding-left: 176px;
    padding-right: 58px;
  }

  .promo-product__price {
    padding: 59px 66px 34px;
    order: 3;
  }

  .promo-product__order-button {
    order: 4;
  }

  .promo-product__image {
    flex-basis: 636px;
    padding-top: 0;
    width: 525px;
    margin-top: -636px;
  }
}
