.slider__controls {
  margin-top: 29px;
  margin-bottom: 38px;
  border: 1px solid @light-gray;
}

.slider__controls--backward {
  display: inline-block;
  font-size: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  padding-left: 50%;
  background-image: url("../img/icon-left-arrow.svg");
  background-repeat: no-repeat;
  background-position: 37px 12px;
  border-right: 1px solid #ececec;
}

.slider__controls--forward {
  display: inline-block;
  font-size: 0;
  padding-top: 13px;
  padding-bottom: 13px;
  background-image: url("../img/icon-right-arrow.svg");
  background-repeat: no-repeat;
  background-position: 37px 12px;
}

