.social-list {
  
}

.social-list__item {
  display: inline-block;
  font-size: 0;
  cursor: pointer;
}

.social-list__item--instagram {
  
  
}

.social-list__item--facebook {
  
  
}

.social-list__item--twitter {
  
}