
.summary__content-wrapper {
  .mobile-content-centering-wrapper();
  padding: 39px 29px;
}

.summary__header {
  margin: 0;
  .set-font-subheader-bold-black();
  padding-bottom: 87px;
}

.summary__item {
  .set-font-medium-20-black();
  padding-bottom: 83px;
}

.summary__item:last-child {
  padding-bottom: 0;
}