

/*.normalize() {
  line-height: 1.15;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}*/

.set-font(@size, @lh, @weight, @color, @transf:none) {
  font-family: @main-font-family;
  font-size: @size;
  line-height: @lh;
  font-weight: @weight;
  color: @color;
  text-transform: @transf;
}

